#root {
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh !important;
  width: 100vw !important;
  box-sizing: border-box !important;
}

/* FONT WEIGHT */
.bold{
  font-weight: 600 !important;
}
.semibold{
  font-weight: 500 !important;
}


/* TEXT COLOR */
.text-white{
  color: white !important;
}
.text-black{
  color: black !important;
}


/* TEXT ALIGN */
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}


/* OWN STYLES*/
.border-black{
  border: 1px solid black !important;
}
.flex-center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.disabled{
  opacity: 0.5 !important;
  color: #9b9b9b !important;
}